html {
    scroll-behavior: smooth;
}

body {
    background-color: aquamarine;
}

header {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    text-align: right;
}

nav a:hover {
    color: lightblue;
    background-color: blueviolet;
}